*{
    padding:0;
    margin:0;
}
.content{
    width:800px;
    margin: 0 auto;
}
header{
    padding:10px 0px;
    margin-bottom: 60px;
}
.title{
    font-weight: bolder;
    font-size:30px;
}
.title > span{
    font-size:12px;
    display: inline-block;
    text-align: right;
    border:1px solid red;
}
.description{
    font-size:17px;
    margin-top:10px;
    font-weight: 500;
}
.content{
    margin-top: 40px;

}