*{
  padding:0;
  margin:0;
}
html,body{
  /* height: 100%; */
}
header{
  padding:10px;
}
header > h1,
header > h2{
  display: inline-block;
}
.content{
  width:800px;
  margin: 0 auto;
}
.content > ul > li{
  list-style: none;
  margin-bottom: 20px;
  cursor: pointer;
  padding-bottom: 20px;
  border-bottom:1px solid rgba(0,0,0,0.2);
}
.content > ul > li > h1{
  font-size:25px;
  font-weight: bolder;
}
.content > ul > li > h2 {
  font-size:20px;
}
.content > ul > li > span{
  margin-top:15px;
  display: inline-block;
}
.content > ul > li > h3 {
  text-align: right;
  font-size:12px;
}