*{
    padding:0;
    margin:0;

}
.content{
    width:800px;
    margin: 0 auto;
}
header{
    padding:10px 0px;
    margin-bottom: 60px;
}
.title{
    font-weight: bolder;
    font-size:30px;
    padding-bottom:20px;
}
.title > h1 {
    font-weight: bolder;
}
.description{
    font-size:17px;
    font-weight: 500;
}
.title > span{
    font-size:14px;
    display: inline-block;
    width:100%;
    text-align: right;
    /* border:1px solid red; */
}
.content-body{
    margin-top:20px;
    line-height: 1.7;
}
